##File Name - Beerwork
#The purpose of this file is to convert data from https://data.opendatasoft.com/explore/dataset/open-beer-database%40public-us/table/
#into a cleaner file

In [83]:
#dependencies and setup - file name "beerwork"
import pandas as pdTest
import numpy as np
import os
import csv
import xlrd

##Try 1 - ParserError

In [84]:
#path to collect data from the resources folder - location on your computer may vary - try 1
#beerdata = "Resources/open-beer-database.csv"

In [85]:
#loading file into dataframe - note data includes non acii characters - try 1 - failed
#attempt to load csv file into pandas
#beer_db = pd.read_csv(beerdata, encoding= 'unicode_escape')
#beer_db.head()
#ParserError: Error tokenizing data. C error: Expected 3 fields in line 13, saw 10

##Try 2 - Corrupt File

In [86]:
#path to collect data from the resources folder - location on your computer may vary - try 2
#attempt to load Excel file into pandas
#beerdata = "open-beer-database.xls"

In [87]:
#loading file into dataframe - note data includes non acii characters - try 2 - failed
#beer_db = pd.read_excel(beerdata, encoding= 'unicode_escape')
#beer_db.head()
#XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<?xml ve'

##Try 3 - Unusable Data

In [88]:
#path to collect data from the resources folder - location on your computer may vary - try 3
#attempt to rename the Excel file into a csv and attempt to load into pandas
#os.rename('open-beer-database.xls', 'open-beer-database.csv') #this only works once
#beer_db = pd.read_csv("open-beer-database.csv", error_bad_lines=False)
#beer_db.head()
#this loads but creates a file unusable data

##Try 4 - ParserError

In [89]:
#path to collect data from the resources folder - location on your computer may vary - try 4
#attempt to rename the Excel file into a csv and attempt to load into pandas
#os.rename('open-beer-database.xls', 'open-beer-database.csv') #this only works once
#beer_db = pd.read_csv("open-beer-database.csv", encoding= 'unicode_escape') 
#ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 43

##Try 5 - This one works!

In [90]:
#path to collect data from the resources folder - location on your computer may vary - try 5
#open csv file first in Excel and then save as a csv uft-8 file - this works
beer_db = pd.read_csv("Resources/open_beer_database_new.csv")

In [91]:
#study data base
beer_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5973 entries, 0 to 5972
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            5963 non-null   object
 1   id                              5973 non-null   object
 2   brewery_id                      5963 non-null   object
 3   cat_id                          5950 non-null   object
 4   style_id                        5949 non-null   object
 5   Alcohol By Volume               5948 non-null   float64
 6   International Bitterness Units  5948 non-null   float64
 7   Standard Reference Method       5948 non-null   float64
 8   Universal Product Code          5944 non-null   float64
 9   filepath                        25 non-null     object
 10  Description                     2046 non-null   object
 11  add_user                        5930 non-null   object
 12  last_mod                        5900 non-null   object
 13  Style                           4466 non-null   object
 14  Category                        4466 non-null   object
 15  Brewer                          5948 non-null   object
 16  Address                         5191 non-null   object
 17  City                            5921 non-null   object
 18  State                           5624 non-null   object
 19  Country                         5948 non-null   object
 20  Coordinates                     5746 non-null   object
 21  Website                         2879 non-null   object
dtypes: float64(4), object(18)
memory usage: 1.0+ MB

In [92]:
#study data base
beer_db.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Celis Raspberry,4813,853,5,72,3.9,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,Other Belgian-Style Ales,Belgian and French Ale,Michigan Brewing,1093 Highview Drive,Webberville,Michigan,United States,"42.6616, -84.1946",http://www.michiganbrewing.com/
1,Buck Naked,4864,114,8,96,3.2,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,American-Style Light Lager,North American Lager,Big Buck Brewery,550 South Wisconsin Avenue,Gaylord,Michigan,United States,"45.0223, -84.6826",http://www.bigbuck.com/gaylord.html
2,Fat Belly Amber,93,879,3,33,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,American-Style Amber/Red Ale,North American Ale,Montana Brewing,113 North Broadway,Billings,Montana,United States,"45.7822, -108.506",NaN
3,Belgian Wit,98,901,-1,-1,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,NaN,NaN,Nebraska Brewing Company,7474 Towne Center Parkway #101,Papillion,Nebraska,United States,"41.1339, -96.0307",NaN
4,Crystal Ale,172,122,-1,-1,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,NaN,NaN,Big Sky Brewing,5417 Trumpeter Way,Missoula,Montana,United States,"46.9223, -114.073",NaN

In [93]:
#drop the following columns from the data:
# Standard Reference Method, Universal Product Code, Description, filepath, add_user, last_mod, Website
beer_db.drop(columns=['Standard Reference Method', 'Universal Product Code', 'filepath', 'Description', 'add_user', 'last_mod','Coordinates', 'Website'], inplace=True)

In [94]:
#study data base after removal of columns
beer_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5973 entries, 0 to 5972
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            5963 non-null   object
 1   id                              5973 non-null   object
 2   brewery_id                      5963 non-null   object
 3   cat_id                          5950 non-null   object
 4   style_id                        5949 non-null   object
 5   Alcohol By Volume               5948 non-null   float64
 6   International Bitterness Units  5948 non-null   float64
 7   Style                           4466 non-null   object
 8   Category                        4466 non-null   object
 9   Brewer                          5948 non-null   object
 10  Address                         5191 non-null   object
 11  City                            5921 non-null   object
 12  State                           5624 non-null   object
 13  Country                         5948 non-null   object
dtypes: float64(2), object(12)
memory usage: 653.4+ KB

In [95]:
#remove NaN values
beer_db = beer_db.dropna(how="any")

In [96]:
#study data base after removal of columns
beer_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3737 entries, 0 to 5972
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            3737 non-null   object
 1   id                              3737 non-null   object
 2   brewery_id                      3737 non-null   object
 3   cat_id                          3737 non-null   object
 4   style_id                        3737 non-null   object
 5   Alcohol By Volume               3737 non-null   float64
 6   International Bitterness Units  3737 non-null   float64
 7   Style                           3737 non-null   object
 8   Category                        3737 non-null   object
 9   Brewer                          3737 non-null   object
 10  Address                         3737 non-null   object
 11  City                            3737 non-null   object
 12  State                           3737 non-null   object
 13  Country                         3737 non-null   object
dtypes: float64(2), object(12)
memory usage: 437.9+ KB

In [97]:
beer_db.tail()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Style,Category,Brewer,Address,City,State,Country
5964,Black Jack Black and Tan,3631,1334,8,95,0.0,0.0,American-Style Lager,North American Lager,Wainwright Brewing,3410 Sassafras Street,Pittsburgh,Pennsylvania,United States
5966,Labatt Wildcat,3862,762,8,95,4.9,0.0,American-Style Lager,North American Lager,Labatt Ontario Breweries,150 Simcoe Street,London,Ontario,Canada
5967,Zephyr Golden Ale,2060,536,3,26,0.0,0.0,American-Style Pale Ale,North American Ale,Flossmoor Station Brewery,1035 Sterling Avenue,Flossmoor,Illinois,United States
5970,Chestnut Brown Ale,2771,478,3,38,0.0,0.0,American-Style Brown Ale,North American Ale,Eddie McStiff's Brewpub,57 South Main Street,Moab,Utah,United States
5972,Stone House Stout,4535,920,1,21,0.0,0.0,Oatmeal Stout,British Ale,North Country Brewery,141 South Main Street,Slippery Rock,Pennsylvania,United States

In [98]:
#groupby brewery by name of beer
brew = beer_db.groupby('brewery_id').count()["Name"]
print(brew)

brewery_id
1        8
10      20
100     25
1000     1
1002     3
        ..
981      4
983      2
984      6
986      1
999      4
Name: Name, Length: 813, dtype: int64

In [99]:
#save cleaned data to file
beer_db.to_csv("open_beer_db", encoding='utf-8', index=False)