In [292]:
import pandas as pd
import numpy as np
import os
import csv
import xlrd

In [294]:
beer_df = pd.read_csv("../Resources/open_beer_db.csv")
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3190 entries, 0 to 3189
Data columns (total 10 columns):
Name          3190 non-null object
id            3190 non-null int64
brewery_id    3190 non-null int64
Style         3190 non-null object
Category      3190 non-null object
Brewer        3190 non-null object
Address       3190 non-null object
City          3190 non-null object
State         3190 non-null object
Country       3190 non-null object
dtypes: int64(2), object(8)
memory usage: 249.3+ KB

In [296]:
usa_beer_df = beer_df.loc[beer_df["Country"] == "United States", :]
usa_beer_df.head()

,Name,id,brewery_id,Style,Category,Brewer,Address,City,State,Country
0,Celis Raspberry,4813,853,Other Belgian-Style Ales,Belgian and French Ale,Michigan Brewing,1093 Highview Drive,Webberville,Michigan,United States
1,Buck Naked,4864,114,American-Style Light Lager,North American Lager,Big Buck Brewery,550 South Wisconsin Avenue,Gaylord,Michigan,United States
2,Fat Belly Amber,93,879,American-Style Amber/Red Ale,North American Ale,Montana Brewing,113 North Broadway,Billings,Montana,United States
3,Log Cabin Nut Brown,1749,754,American-Style Brown Ale,North American Ale,Krogh's Restaurant and Brewpub,23 White Deer Plaza,Sparta,New Jersey,United States
4,Golden Wheat Light,1781,1134,American-Style Lager,North American Lager,Ship Inn Brewpub,61 Bridge Street,Milford,New Jersey,United States

In [297]:
state_counts =usa_beer_df["State"].value_counts()
state_counts_df = state_counts.head()
state_counts_df

California      450
Pennsylvania    365
Wisconsin       316
Michigan        194
Colorado        191
Name: State, dtype: int64

In [310]:
grouped_usa_df = usa_beer_df.groupby(['State'])
print(grouped_usa_df)
grouped_usa_df.count()
breweries_df = grouped_usa_df.count()
breweries_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000186F9D0CD08>

,Name,id,brewery_id,Style,Category,Brewer,Address,City,Country
State,,,,,,,,,
Alaska,69,69,69,69,69,69,69,69,69
Arizona,51,51,51,51,51,51,51,51,51
Arkansas,1,1,1,1,1,1,1,1,1
California,450,450,450,450,450,450,450,450,450
Colorado,191,191,191,191,191,191,191,191,191
Connecticut,7,7,7,7,7,7,7,7,7
Delaware,32,32,32,32,32,32,32,32,32
Florida,16,16,16,16,16,16,16,16,16
Georgia,26,26,26,26,26,26,26,26,26
Hawaii,12,12,12,12,12,12,12,12,12
Idaho,3,3,3,3,3,3,3,3,3
Illinois,114,114,114,114,114,114,114,114,114
Indiana,53,53,53,53,53,53,53,53,53
Iowa,24,24,24,24,24,24,24,24,24
Kansas,8,8,8,8,8,8,8,8,8
Kentucky,11,11,11,11,11,11,11,11,11
Louisiana,27,27,27,27,27,27,27,27,27
Maine,17,17,17,17,17,17,17,17,17
Maryland,37,37,37,37,37,37,37,37,37
Massachusetts,80,80,80,80,80,80,80,80,80
Michigan,194,194,194,194,194,194,194,194,194
Minnesota,64,64,64,64,64,64,64,64,64
Missouri,74,74,74,74,74,74,74,74,74
Montana,20,20,20,20,20,20,20,20,20
Nebraska,83,83,83,83,83,83,83,83,83
Nevada,6,6,6,6,6,6,6,6,6
New Hampshire,22,22,22,22,22,22,22,22,22
New Jersey,67,67,67,67,67,67,67,67,67
New Mexico,13,13,13,13,13,13,13,13,13
New York,162,162,162,162,162,162,162,162,162
North Carolina,37,37,37,37,37,37,37,37,37
Ohio,48,48,48,48,48,48,48,48,48
Oklahoma,5,5,5,5,5,5,5,5,5
Oregon,130,130,130,130,130,130,130,130,130
Pennsylvania,365,365,365,365,365,365,365,365,365
Rhode Island,2,2,2,2,2,2,2,2,2
South Carolina,25,25,25,25,25,25,25,25,25
South Dakota,4,4,4,4,4,4,4,4,4
Tennessee,14,14,14,14,14,14,14,14,14
Texas,67,67,67,67,67,67,67,67,67
Utah,8,8,8,8,8,8,8,8,8
Vermont,58,58,58,58,58,58,58,58,58
Virginia,16,16,16,16,16,16,16,16,16
Washington,150,150,150,150,150,150,150,150,150
Wisconsin,316,316,316,316,316,316,316,316,316
Wyoming,11,11,11,11,11,11,11,11,11

In [311]:
state_breweries_df = breweries_df[['Name']]
state_breweries_df.info

<bound method DataFrame.info of                 Name
State
Alaska            69
Arizona           51
Arkansas           1
California       450
Colorado         191
Connecticut        7
Delaware          32
Florida           16
Georgia           26
Hawaii            12
Idaho              3
Illinois         114
Indiana           53
Iowa              24
Kansas             8
Kentucky          11
Louisiana         27
Maine             17
Maryland          37
Massachusetts     80
Michigan         194
Minnesota         64
Missouri          74
Montana           20
Nebraska          83
Nevada             6
New Hampshire     22
New Jersey        67
New Mexico        13
New York         162
North Carolina    37
Ohio              48
Oklahoma           5
Oregon           130
Pennsylvania     365
Rhode Island       2
South Carolina    25
South Dakota       4
Tennessee         14
Texas             67
Utah               8
Vermont           58
Virginia          16
Washington       150
Wisconsin        316
Wyoming           11>

In [259]:
#state_df = grouped_usa_df.count

In [260]:
dui_df = pd.read_csv("../Resources/DUI.csv")
dui_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
State           50 non-null object
DUI             50 non-null int64
Fatalities      50 non-null int64
Population      50 non-null int64
Sunday.Sales    50 non-null object
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [277]:
state_dui = dui_df
state_dui

             State     DUI  Fatalities  Population Sunday.Sales
0          Alabama    7863         247     4858979   Prohibited
1           Alaska    3163          24      738432    Permitted
2          Arizona   22367         272     6828065    Permitted
3         Arkansas    6919         149     2978204        Local
4       California  141458         914    39144818    Permitted
5         Colorado   25562         151     5456574    Permitted
6      Connecticut    8148         103     3590886        Local
7         Delaware     386          42      945934    Permitted
8          Florida   31783         797    20271272        Local
9          Georgia   19217         365    10214860        Local
10          Hawaii    5250          33     1431603    Permitted
11           Idaho    5844          70     1654930        Local
12        Illinois    3659         307    12859995        Local
13         Indiana   14428         178     6619680   Prohibited
14            Iowa    9028          78     3123899    Permitted
15          Kansas    7186          84     2911641        Local
16        Kentucky   17825         192     4425092        Local
17       Louisiana    5598         253     4670724        Local
18           Maine    5756          52     1329328    Permitted
19        Maryland   17100         160     6006401        Local
20   Massachusetts    8258          96     6794422        Local
21        Michigan   26845         268     9922576        Local
22       Minnesota   20830         115     5489594    Permitted
23     Mississippi    6889         175     2992333   Prohibited
24        Missouri   19449         224     6083672    Permitted
25         Montana    3674          76     1032949   Prohibited
26        Nebraska    5348          65     1896190        Local
27          Nevada    7612          96     2890845        Local
28   New Hampshire    4746          33     1330608   Restricted
29      New Jersey   22201         111     8958013        Local
30      New Mexico    8542          98     2085109        Local
31        New York   28988         311    19795791    Permitted
32  North Carolina   35967         411    10042802   Prohibited
33    North Dakota    6351          50      756927        Local
34            Ohio   34254         313    11613423        Local
35        Oklahoma   11101         170     3911338   Prohibited
36          Oregon    9019         155     4028977    Permitted
37    Pennsylvania   44615         363    12802503   Restricted
38    Rhode Island    2591          19     1056298    Permitted
39  South Carolina   16272         301     4896146   Prohibited
40    South Dakota    7305          44      858469        Local
41       Tennessee   23150         251     6600299   Prohibited
42           Texas   64971        1323    27469114   Prohibited
43            Utah    8813          43     2995919   Prohibited
44         Vermont    2144          16      626042    Permitted
45        Virginia   20477         208     8382993   Restricted
46      Washington   24627         147     7170351    Permitted
47   West Virginia    4543          71     1844128   Prohibited
48       Wisconsin   24588         189     5771337    Permitted
49         Wyoming    3157          56      586107    Permitted

In [261]:
#mergedf = dui_df.merge(state_df, on='State', suffixes=('Population', 'Fatalities'))
#mergedf.info()
mergedf = dui_df.merge(beer_df, on='State', suffixes=('Population', 'Fatalities'))
mergedf.head()

,State,DUI,Fatalities,Population,Sunday.Sales,Name,id,brewery_id,Style,Category,Brewer,Address,City,Country
0,Alaska,3163,24,738432,Permitted,Venus - Belgian-style Quadrupel,5113,858,Belgian-Style Quadrupel,Belgian and French Ale,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,United States
1,Alaska,3163,24,738432,Permitted,Cafe Amsterdam's 10th Anniversary Gruit,5546,858,Fruit Beer,Other Style,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,United States
2,Alaska,3163,24,738432,Permitted,Imperial Chocolate Pumpkin Porter,5114,858,Pumpkin Beer,Other Style,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,United States
3,Alaska,3163,24,738432,Permitted,Mayhem Belgian-style Double IPA,5758,858,Other Belgian-Style Ales,Belgian and French Ale,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,United States
4,Alaska,3163,24,738432,Permitted,Oosik Amber Ale,4957,858,American-Style Amber/Red Ale,North American Ale,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,United States

In [263]:
beer_dui_df = mergedf[['State', 'DUI', 'Fatalities', 'Population', 'Sunday.Sales']] 
beer_dui_df

        State   DUI  Fatalities  Population Sunday.Sales
0      Alaska  3163          24      738432    Permitted
1      Alaska  3163          24      738432    Permitted
2      Alaska  3163          24      738432    Permitted
3      Alaska  3163          24      738432    Permitted
4      Alaska  3163          24      738432    Permitted
...       ...   ...         ...         ...          ...
3185  Wyoming  3157          56      586107    Permitted
3186  Wyoming  3157          56      586107    Permitted
3187  Wyoming  3157          56      586107    Permitted
3188  Wyoming  3157          56      586107    Permitted
3189  Wyoming  3157          56      586107    Permitted

[3190 rows x 5 columns]

In [264]:
#df.drop_duplicates(subset=['beer_dui_dfA', 'C'], keep=False)
beer_dui_df.duplicated()

0       False
1        True
2        True
3        True
4        True
        ...
3185     True
3186     True
3187     True
3188     True
3189     True
Length: 3190, dtype: bool

In [265]:
beer_dui_df.drop_duplicates()

               State     DUI  Fatalities  Population Sunday.Sales
0             Alaska    3163          24      738432    Permitted
69           Arizona   22367         272     6828065    Permitted
120         Arkansas    6919         149     2978204        Local
121       California  141458         914    39144818    Permitted
571         Colorado   25562         151     5456574    Permitted
762      Connecticut    8148         103     3590886        Local
769         Delaware     386          42      945934    Permitted
801          Florida   31783         797    20271272        Local
817          Georgia   19217         365    10214860        Local
843           Hawaii    5250          33     1431603    Permitted
855            Idaho    5844          70     1654930        Local
858         Illinois    3659         307    12859995        Local
972          Indiana   14428         178     6619680   Prohibited
1025            Iowa    9028          78     3123899    Permitted
1049          Kansas    7186          84     2911641        Local
1057        Kentucky   17825         192     4425092        Local
1068       Louisiana    5598         253     4670724        Local
1095           Maine    5756          52     1329328    Permitted
1112        Maryland   17100         160     6006401        Local
1149   Massachusetts    8258          96     6794422        Local
1229        Michigan   26845         268     9922576        Local
1423       Minnesota   20830         115     5489594    Permitted
1487        Missouri   19449         224     6083672    Permitted
1561         Montana    3674          76     1032949   Prohibited
1581        Nebraska    5348          65     1896190        Local
1664          Nevada    7612          96     2890845        Local
1670   New Hampshire    4746          33     1330608   Restricted
1692      New Jersey   22201         111     8958013        Local
1759      New Mexico    8542          98     2085109        Local
1772        New York   28988         311    19795791    Permitted
1934  North Carolina   35967         411    10042802   Prohibited
1971            Ohio   34254         313    11613423        Local
2019        Oklahoma   11101         170     3911338   Prohibited
2024          Oregon    9019         155     4028977    Permitted
2154    Pennsylvania   44615         363    12802503   Restricted
2519    Rhode Island    2591          19     1056298    Permitted
2521  South Carolina   16272         301     4896146   Prohibited
2546    South Dakota    7305          44      858469        Local
2550       Tennessee   23150         251     6600299   Prohibited
2564           Texas   64971        1323    27469114   Prohibited
2631            Utah    8813          43     2995919   Prohibited
2639         Vermont    2144          16      626042    Permitted
2697        Virginia   20477         208     8382993   Restricted
2713      Washington   24627         147     7170351    Permitted
2863       Wisconsin   24588         189     5771337    Permitted
3179         Wyoming    3157          56      586107    Permitted

In [267]:
dui_df = pd.read_csv("../Resources/DUI.csv")
dui_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
State           50 non-null object
DUI             50 non-null int64
Fatalities      50 non-null int64
Population      50 non-null int64
Sunday.Sales    50 non-null object
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [315]:
mergedf = dui_df.merge(state_breweries_df, on='State', suffixes=('Population', 'Fatalities'))
mergedf

             State     DUI  Fatalities  Population Sunday.Sales  Name
0           Alaska    3163          24      738432    Permitted    69
1          Arizona   22367         272     6828065    Permitted    51
2         Arkansas    6919         149     2978204        Local     1
3       California  141458         914    39144818    Permitted   450
4         Colorado   25562         151     5456574    Permitted   191
5      Connecticut    8148         103     3590886        Local     7
6         Delaware     386          42      945934    Permitted    32
7          Florida   31783         797    20271272        Local    16
8          Georgia   19217         365    10214860        Local    26
9           Hawaii    5250          33     1431603    Permitted    12
10           Idaho    5844          70     1654930        Local     3
11        Illinois    3659         307    12859995        Local   114
12         Indiana   14428         178     6619680   Prohibited    53
13            Iowa    9028          78     3123899    Permitted    24
14          Kansas    7186          84     2911641        Local     8
15        Kentucky   17825         192     4425092        Local    11
16       Louisiana    5598         253     4670724        Local    27
17           Maine    5756          52     1329328    Permitted    17
18        Maryland   17100         160     6006401        Local    37
19   Massachusetts    8258          96     6794422        Local    80
20        Michigan   26845         268     9922576        Local   194
21       Minnesota   20830         115     5489594    Permitted    64
22        Missouri   19449         224     6083672    Permitted    74
23         Montana    3674          76     1032949   Prohibited    20
24        Nebraska    5348          65     1896190        Local    83
25          Nevada    7612          96     2890845        Local     6
26   New Hampshire    4746          33     1330608   Restricted    22
27      New Jersey   22201         111     8958013        Local    67
28      New Mexico    8542          98     2085109        Local    13
29        New York   28988         311    19795791    Permitted   162
30  North Carolina   35967         411    10042802   Prohibited    37
31            Ohio   34254         313    11613423        Local    48
32        Oklahoma   11101         170     3911338   Prohibited     5
33          Oregon    9019         155     4028977    Permitted   130
34    Pennsylvania   44615         363    12802503   Restricted   365
35    Rhode Island    2591          19     1056298    Permitted     2
36  South Carolina   16272         301     4896146   Prohibited    25
37    South Dakota    7305          44      858469        Local     4
38       Tennessee   23150         251     6600299   Prohibited    14
39           Texas   64971        1323    27469114   Prohibited    67
40            Utah    8813          43     2995919   Prohibited     8
41         Vermont    2144          16      626042    Permitted    58
42        Virginia   20477         208     8382993   Restricted    16
43      Washington   24627         147     7170351    Permitted   150
44       Wisconsin   24588         189     5771337    Permitted   316
45         Wyoming    3157          56      586107    Permitted    11

In [317]:
sorrted_mergedf = mergedf.sort_values(
    ["Name"], ascending=False)
sorrted_mergedf

             State     DUI  Fatalities  Population Sunday.Sales  Name
3       California  141458         914    39144818    Permitted   450
34    Pennsylvania   44615         363    12802503   Restricted   365
44       Wisconsin   24588         189     5771337    Permitted   316
20        Michigan   26845         268     9922576        Local   194
4         Colorado   25562         151     5456574    Permitted   191
29        New York   28988         311    19795791    Permitted   162
43      Washington   24627         147     7170351    Permitted   150
33          Oregon    9019         155     4028977    Permitted   130
11        Illinois    3659         307    12859995        Local   114
24        Nebraska    5348          65     1896190        Local    83
19   Massachusetts    8258          96     6794422        Local    80
22        Missouri   19449         224     6083672    Permitted    74
0           Alaska    3163          24      738432    Permitted    69
39           Texas   64971        1323    27469114   Prohibited    67
27      New Jersey   22201         111     8958013        Local    67
21       Minnesota   20830         115     5489594    Permitted    64
41         Vermont    2144          16      626042    Permitted    58
12         Indiana   14428         178     6619680   Prohibited    53
1          Arizona   22367         272     6828065    Permitted    51
31            Ohio   34254         313    11613423        Local    48
18        Maryland   17100         160     6006401        Local    37
30  North Carolina   35967         411    10042802   Prohibited    37
6         Delaware     386          42      945934    Permitted    32
16       Louisiana    5598         253     4670724        Local    27
8          Georgia   19217         365    10214860        Local    26
36  South Carolina   16272         301     4896146   Prohibited    25
13            Iowa    9028          78     3123899    Permitted    24
26   New Hampshire    4746          33     1330608   Restricted    22
23         Montana    3674          76     1032949   Prohibited    20
17           Maine    5756          52     1329328    Permitted    17
42        Virginia   20477         208     8382993   Restricted    16
7          Florida   31783         797    20271272        Local    16
38       Tennessee   23150         251     6600299   Prohibited    14
28      New Mexico    8542          98     2085109        Local    13
9           Hawaii    5250          33     1431603    Permitted    12
45         Wyoming    3157          56      586107    Permitted    11
15        Kentucky   17825         192     4425092        Local    11
14          Kansas    7186          84     2911641        Local     8
40            Utah    8813          43     2995919   Prohibited     8
5      Connecticut    8148         103     3590886        Local     7
25          Nevada    7612          96     2890845        Local     6
32        Oklahoma   11101         170     3911338   Prohibited     5
37    South Dakota    7305          44      858469        Local     4
10           Idaho    5844          70     1654930        Local     3
35    Rhode Island    2591          19     1056298    Permitted     2
2         Arkansas    6919         149     2978204        Local     1